//FONTS
$regularFont: "Roboto", sans-serif;

// COLORS
$darkColor: #212529;
$orangeColor: #ce8600;
$whiteColor: #ececec;
$greyColor: #858585;
$greenColor: #4d6675;
//
$redColor: #420000;
$transColor: #00000038;
